.project{  
    margin-top:1.2rem;
    border-radius:0.8rem;   
}
.project-content{
    border:1px solid #bbb7b7e8;
    border-radius: 0.8rem; 
    box-shadow:1px -1px 7px 1px rgba(207,184,207,1);
    width:20rem;
    margin:1rem 0;
    overflow: hidden;   
}


.project-content img{
    width:100%;
}
.project-content p {
    font-size:1.3rem;
    padding:0.1rem;
}
.project-content .btn{
    font-size:1.3rem;
    padding:0.8rem;
    display: flex;
    justify-content:space-evenly;
}
.btn button{
    border:none;
    cursor:progress;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    background-color:#1018208a;
    color:#E7E8D1;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1rem;
}