.project{
    display: flex;
    justify-content: space-between;
    width:98%;
    border:1px solid #bbb7b7e8;
    margin:0 auto;
    margin-top:1.2rem;
    border-radius:0.8rem;
    overflow: hidden;
}
.project-content{
    display:flex;
    flex-direction: column;
    margin:0.8rem 2rem;
    border:1px solid #bbb7b7e8;
    border-radius: 0.8rem;
    overflow: hidden; 
    width:37%;
    box-shadow:0.2rem 0.2rem 1rem #000000f9;
}

.project-content img{
    width:100%;
    
    display:inline-block;
    margin-bottom:0.1rem;
    border-radius: 0.6rem;
}
.project-content span {
    margin-bottom:0.3rem;
    font-size:1.6rem;
    margin-bottom:0.8rem;
    margin-left:0.3rem;
}