.header{
    margin:0.1rem 0.2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1.2rem;
    background:linear-gradient(90deg, #101820,#E2D1F9);
}
.header span{
    font-size:1.2rem;
    font-weight:500;
    color:#E2D1F9;
}
.header button{
    color:#E7E8D1;
    font-size:0.9rem;
    padding:0.6rem 0.8rem;
    border:none;
    background-color:#1018208a;
    letter-spacing: 0.1rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.2rem;
    cursor:pointer;
    text-transform: uppercase;
}
.header button:hover{
     color:#272726;
     cursor:progress;
    }